<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Product-List</title>
</head>
<body>
    <header>
        <ul>
            <li><a href="/">Shop</a></li>
            <li><a href="/admin/add-product">Product</a></li>
        </ul>
    </header>

    <main>
        <form action="/add-product" method="POST">
            <h1>Products</h1>
            <p>Product list.....</p>
        </form>
    </main>
</body>
</html>